<div class="jumbotron">
  <div class="container content">
    <div class="heading">
        <h2>Our <strong>Great Team</strong></h2>
        <p>To try the most advanced business</p>
    </div><!-- //end heading -->

	<div class="row">
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>John Doe</h4>
                    <span>Marketing</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Melisa Doe</h4>
                    <span>Founder</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member3.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Alex Atkinson</h4>
                    <span>Director</span>
                </div>
            </div>
        </div>
    </div><!-- //end row -->
</div>

  <p>
    <a class="btn btn-lg btn-primary" href="https://github.com/jp7internet/rails-apz" role="button">View articles</a>
  </p>
</div>